<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mi cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  
    <ion-grid>
     <ion-row>
      <ion-col class="card1-title">{{us.nombre}}</ion-col>
     </ion-row>
     <ion-row>
      <ion-col class="card1-text">{{us.email}}</ion-col>
   </ion-row>
   <ion-button (click)="eliminar()">Eliminar Cuenta
  </ion-button>
   <ion-button (click)="salir()">Cerrar Sesión
  </ion-button>
    </ion-grid>
    
  </ion-card>
</ion-content>

