<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{type_title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides   #slider loop="true" pager="true" [options]=" slideOptions"  >
    <ion-slide  *ngFor ="let imagen of list_im">
      <ion-card class= "ion-card1" >
        <img img [src]="imagen.imagen_url" />
        <div class= "card-text1">{{imagen.imagen_txt}}</div>
      </ion-card>

    </ion-slide>
    <ion-row>

    </ion-row>
  </ion-slides>
 
  <ion-card>
    <div class="card-title">{{this.new_u.title}}</div>
    <div class="card-text">
      <ion-textarea>
        {{new_u.details}}
      </ion-textarea>
      <ion-text *ngIf = "new_u.link">
        <a href={{new_u.link}} target="_blank" class="ion-underline">{{new_u.titulolink}}</a>
      </ion-text>
      <br>
      <br>
      <ion-text>
        {{new_u.autor}}
      </ion-text>
      
    
      </div>
  </ion-card>

</ion-content>
