<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{type_title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides   #slider loop="true" pager="true" [options]=" slideOptions"  >
    <ion-slide  *ngFor ="let imagen of list_imagenes">
      <ion-card >
        <img img [src]="imagen" />
        
      </ion-card>

    </ion-slide>
    <ion-row>

    </ion-row>
  </ion-slides>
 
  <ion-card>
    <div class="card-title">{{this.new_u.title}}</div>
    <div class="card-text">
      <ion-textarea>
        {{new_u.details}}
      </ion-textarea>
      </div>
  </ion-card>

</ion-content>
