<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  
    <ion-grid>
     <ion-row>
      <ion-col class="card1-title">Al Instante GT</ion-col>
     </ion-row>
     <ion-row>
      <ion-col class="card1-text">
      <ion-icon name="mail" ></ion-icon>
      <ion-label> alinstantegt2022@gmail.com</ion-label>
    </ion-col>
     </ion-row>
     <ion-row>
      <ion-col class="card1-text">
      <ion-icon name="call" ></ion-icon>
      <ion-label> +502 2479 5854</ion-label>
    </ion-col>
     </ion-row>
  
 
    </ion-grid>
    
  </ion-card>

</ion-content>
