ion-menu-button {
    color: var(--ion-color-secondary);
  }


ion-content{
  background-color: #ffffff;
}
  .iconlist {
    background-color: #ffffff;
  }
  
  ion-card {
    background-color: #ffffff ;
    position: relative;
    text-align: center;

   // border-radius: 15px;
  }
  
  .card-title{
      color: #000000 ;
      font-size: 20px;
      font-weight: 900;
      margin-top: 8px;
      margin-bottom: 20px;
      }
  
  .card-text{
    color: var(	--ion-color-primary);
    font-weight: 700 ;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  
  
  
  ion-slide {
    display: block;
  }
  
  img {
  
    height: 225px;
    width: 325px;
  }
  
  .card-img {
    height: 50%;
    width: 50%;
    align-self: center;
  }
  
  .card1 {
    opacity: 0.90;
    background-color: rgba( 71,146,149,0.3);
    border-radius: 0%;
   position: relative;
    text-align: center;
  }
  
  
  .card1-title{
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    align-self: center;
    color:#000000 ;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  
  .card1-text{
    color: var(--ion-color-primary);
    font-weight: 500px ;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: justify;
  }
  ion-row {
    
    position: relative;
    text-align: center;
    
  }
  ion-col {
    
    position: relative;
    text-align: center;
    
  }
  .card2 {

    height: 200px;
    border-radius: 0px;
    background-color: #ffffff;
    border: 3 px black; 
  
  }

  .row2{
    position:absolute
  }
  
  .img1 {
  
    height: 95%;
    width: 95%;
    padding: 5%;
    
  }

 
  .span1-text{
    color: var(--ion-color-primary);
    font-weight: 500px ;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .close {position:relative;}

  .close .closeButton1 {
    font-size: 24px;
    width:19px;height:19px;
    top:-9px;
    right:-9px;
    position:absolute;
    cursor:pointer;
    line-height:21px;
    color:#000000;
    background-color: black;
  
}
.img2 {
  height: 95%;
  width: 95%;
  padding: 3%;

opacity: 0.9;
}