<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Portada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class ="iconlist" *ngIf="!vista">
  <ion-card class = "card2" *ngIf="vista1">
    <img img class="img2" [src]="this.ban.image"   />
  </ion-card>
  
  <ion-slides   #slider loop="true" pager="true" [options]=" slideOptions"  >
    <ion-slide  *ngFor ="let new of news">
      <ion-card (click) = "goToRoute(new)">
        <img [src]="new.image" />
        <div class= "card-title">{{new.title}} </div>
      </ion-card>

    </ion-slide>
    <ion-row>

    </ion-row>
  </ion-slides>

  <ion-row>
    <ion-col sizeLg="6" sizeMd="6" sizeXs="12" *ngFor ="let new of news">
      <ion-card class="card1" [routerLink]="['/new',new.id]">
        <ion-grid>
          <ion-row>
            <ion-col class="card1-title">{{new.title}}</ion-col>
            
          </ion-row>
            <ion-row>
               <ion-col class="card1-text">{{new.description}}</ion-col>
               <ion-col> <img [src]="new.image" /></ion-col>
        
            </ion-row>
        </ion-grid>
        
  
      </ion-card>

    </ion-col>
  </ion-row>

</ion-content>

<ion-content *ngIf="vista">

  <span  (click)="close()" class="span1-text" >&#x26D2;</span>
  <img img class="img1" [src]="this.pub.image" />



</ion-content>