<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Última Hora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class ="iconlist">
  <ion-slides   #slider loop="true" pager="true" [options]=" slideOptions"  >
    <ion-slide  *ngFor ="let new of news">
      <ion-card (click) = "goToRoute(new)">
        <img src="assets/images/{{new.image}}" />
        <div class= "card-title">{{new.title}} </div>
      </ion-card>

    </ion-slide>
    <ion-row>

    </ion-row>
  </ion-slides>

  <ion-row>
    <ion-col sizeLg="6" sizeMd="6" sizeXs="12" *ngFor ="let new of news">
      <ion-card class="card1" [routerLink]="['/new',new.id]">
        <ion-grid>
          <ion-row>
            <ion-col class="card1-title">{{new.title}}</ion-col>
            
          </ion-row>
            <ion-row>
               <ion-col class="card1-text">{{new.description}}</ion-col>
               <ion-col> <img src="assets/images/{{new.image}}" /></ion-col>
        
            </ion-row>
        </ion-grid>
        
  
      </ion-card>

    </ion-col>
  </ion-row>

</ion-content>
