<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>cupones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf = "isPro">
  <ion-row>
    <ion-col sizeLg="6" sizeMd="6" sizeXs="12" *ngFor ="let new of news">
      <ion-card class="card1">
        <ion-grid>
            <ion-row>
              <ion-col> <img [src]="new.image" /></ion-col>
            </ion-row>
        </ion-grid>
      
      </ion-card>
      <ion-button (click)="Eliminar(new.id)" *ngIf ="ingresado"> X
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>

<ion-content *ngIf = "!isPro">
  <ion-card >
    <img img class="img2" [src]="'https://firebasestorage.googleapis.com/v0/b/alinstanteguate.appspot.com/o/Hazte%20Premium.jpg?alt=media&token=78c0cde0-8851-4670-b9d5-20eb9e8a9b4b'"  (click)="goPay()"/>
  </ion-card>
</ion-content>
