<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Nueva Noticia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class ="card-title">Registro de Noticia</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioRegistro" (keyup.enter)="submitForm()">
        <ion-item>
          <ion-label position="floating">Titulo</ion-label>
          <ion-input formControlName="title"></ion-input>
        </ion-item>
        <ion-item>
               
          <ion-label position="floating">Descripcion</ion-label>
          <ion-input formControlName="descripcion"  ></ion-input>

            </ion-item>
      
        <ion-item>
               
          <ion-textarea placeholder="Detalles" [autoGrow]="true"
          formControlName="detalles" ></ion-textarea>
    
            </ion-item>
       
            <ion-item>
               
              <ion-label position="floating">Autor</ion-label>
              <ion-input formControlName="autor"  ></ion-input>
    
                </ion-item>
                <ion-item>
               
                  <ion-label position="floating">Título Link</ion-label>
                  <ion-input formControlName="titulolink"  ></ion-input>
        
                    </ion-item>
                <ion-item>
               
                  <ion-label position="floating">Link</ion-label>
                  <ion-input formControlName="link"  ></ion-input>
        
                    </ion-item>
        <ion-item >
          <ion-button (click)="presentAlertRadio()"> {{this.categoria}}
          </ion-button>
        
        </ion-item>
        <ion-item >
          <ion-button (click)="presentAlertRadio1()"> {{this.en_portadatxt}}
          </ion-button>
        
        </ion-item>
      
        <ion-item *ngIf ="this.cant_imagenes === 0">
       <ion-input  icon-left large type="file" (change)="newImageU($event)" formControlName="imagen"><ion-icon name ="images"></ion-icon></ion-input>
        </ion-item>
        <ion-item *ngIf ="this.cant_imagenes === 0">     
          <ion-label position="floating">Fotografía tomada por</ion-label>
          <ion-input formControlName="au_im"  ></ion-input>
        </ion-item>
        <ion-item *ngIf ="newImage != ''">
          <img [src]="newImage"   />
        </ion-item>
        <ion-item *ngIf ="newImage != '' && this.cant_imagenes === 0">
          <ion-button (click)="Eliminar()" > Eliminar Imagen 
          </ion-button>
        </ion-item>
        <ion-item *ngIf ="this.cant_imagenes === 1">
          <ion-input  icon-left large type="file" (change)="newImageU1($event)" formControlName="imagen"><ion-icon name ="images"></ion-icon></ion-input>
        </ion-item>
        <ion-item *ngIf ="this.cant_imagenes === 1">     
          <ion-label position="floating">Fotografía tomada por</ion-label>
          <ion-input formControlName="au_im1"  ></ion-input>
        </ion-item>
        <ion-item *ngIf ="newImage1 != ''">
          <img [src]="newImage1"   />
        </ion-item>
        <ion-item *ngIf ="newImage1 != '' && this.cant_imagenes === 1">
          <ion-button (click)="Eliminar()" > Eliminar Imagen 
          </ion-button>
        </ion-item>
        <ion-item *ngIf ="this.cant_imagenes === 2">
          <ion-input  icon-left large type="file" (change)="newImageU2($event)" formControlName="imagen"><ion-icon name ="images"></ion-icon></ion-input>
        </ion-item>
        <ion-item *ngIf ="this.cant_imagenes === 2">     
          <ion-label position="floating">Fotografía tomada por</ion-label>
          <ion-input formControlName="au_im2"  ></ion-input>
        </ion-item>
        <ion-item *ngIf ="newImage2 != ''">
          <img [src]="newImage2"   />
        </ion-item>
        <ion-item *ngIf ="newImage2 != '' && this.cant_imagenes === 2">
          <ion-button (click)="Eliminar()" > Eliminar Imagen 
          </ion-button>
        </ion-item>
        <ion-item *ngIf ="this.cant_imagenes === 3">
          <ion-input  icon-left large type="file" (change)="newImageU3($event)" formControlName="imagen"><ion-icon name ="images"></ion-icon></ion-input>
        </ion-item>
        <ion-item *ngIf ="this.cant_imagenes === 3">     
          <ion-label position="floating">Fotografía tomada por</ion-label>
          <ion-input formControlName="au_im3"  ></ion-input>
        </ion-item>
        <ion-item *ngIf ="newImage3 != ''">
          <img [src]="newImage3"   />
        </ion-item>
        <ion-item *ngIf ="newImage3 != '' && this.cant_imagenes === 3">
          <ion-button (click)="Eliminar()" > Eliminar Imagen 
          </ion-button>
        </ion-item>
        <ion-item *ngIf = "this.cant_imagenes < 3 && (newImage != ''  || newImage1 != '' || newImage2 != '' || newImage3 != '')" (click) = "agregarImagen()">
          <ion-button>
            Agregar Imagen +
          </ion-button>
        </ion-item>
      
        <br>
        <ion-button (click)="Guardar()">Guardar
        </ion-button>
        
      </form>
      
 
    
    </ion-card-content>
    
  </ion-card>


</ion-content>
