<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Nueva Noticia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class ="card-title">Registro de Noticia</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioRegistro" (keyup.enter)="submitForm()">
        <ion-item>
          <ion-label position="floating">Titulo</ion-label>
          <ion-input formControlName="title"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Descripcion</ion-label>
          <ion-input formControlName="descripcion"  ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Detalles</ion-label>
          <ion-input formControlName="detalles"></ion-input>
        </ion-item>
      
        <ion-item >
          <ion-button (click)="presentAlertRadio()"> {{this.categoria}}
          </ion-button>
        
        </ion-item>
        <ion-item>
       <ion-input  icon-left large type="file" (change)="newImageU($event)" formControlName="imagen"><ion-icon name ="images"></ion-icon></ion-input>

        </ion-item>
        <br>
        <ion-button (click)="Guardar()">Guardar
        </ion-button>
        
      </form>
      
        <img [src]="newImage" />
   
    
    </ion-card-content>
    
  </ion-card>


</ion-content>
