<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pago Membresía</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

  </ion-grid>
  <ion-card class="welcome-card">
    <ion-img src="../../assets/images/banerpaypal.png"></ion-img>
    <ion-card-header>
      <ion-row>
        <ion-col>
          Pago Total
        </ion-col>
        <ion-col>
          {{currencyIcon}}{{paymentAmount}}
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="full" color="success" (click)="payWithPaypal()">Pagar con PayPal</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

